
<html>
<head> <div width="1800px">
    <!--   <title>
            Example Page
        </title>
        <span>


            <form id="form1" method="post" >
                <br />
                <br /><br />
             <button style="background-color:#5B74A8;border-color: #29447e #29447e #1a356e; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;color:white;width:100px" >
                    <a style="color:white;"  href="https://www.facebook.com/MedTrav/?fref=ts" > Facebook  </a>
                </button>

                <button style="    cursor: pointer;
        background-color: #1b95e0;
        border-radius: 3px; margin-left:50px;color:white;width:100px" float="right"  >
                    <a style="color:white;" href="https://twitter.com/MedicalTravelTn" > Twitter  </a>
                </button>
                <br /><br />

                <a href="https://twitter.com/share" class="twitter-share-button" {count}>Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </form>

            <div class="fb-like"></div>
            <div id="fb-root"></div>
            <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1648463992078067";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

        </span>-->
    <br />
    <br />
    <br />


    <div id="fb-root" style="margin-top:-25px;"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1396861977224095";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <div class="fb-share-button" data-href="http://localhost:2719/" data-width="100px" style="margin-top:-25px;" data-ng-style=" margin-top:-25px;" data-type="button"></div>
    <a style="margin-top:25px;" href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:2719/" data-text="Programming sharing portal" data-via="instinctcoder" data-count="vertical">Tweet</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    <!-- Place this tag where you want the share button to render. -->
    <!-- Placez cette balise dans l'en-tête ou juste avant la balise de fermeture du corps de texte. -->
    <script src="https://apis.google.com/js/platform.js" async defer>
        { lang: 'en-GB' }
    </script>

    <!-- Placez cette balise où vous souhaitez faire apparaître le gadget bouton "Partager". -->
    <div style="margin-top:25px;" class="g-plus" data-action="share" ></div>

    <br />
    <br />
</div>

</head>
<body>
</body>
</html>
