
@{
    ViewBag.Title = "AdminLoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>
    @if (Session["userId"] != null)
    {

        <h4>Hello  @Session["login"].ToString() </h4>
    }
</h4>

