
@{
    ViewBag.Title = "IndexAuthentifiee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexAuthentifiee</h2>

@{
    ViewBag.Message = "LOGGED";
}


<h1>AUTHENTIFIEEEE yabourraaaaabbb ! </h1>

